services:
  citygems_db:
    image: mysql:latest
    container_name: mysqldb
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    healthcheck:
      test: mysqladmin ping -h localhost --user=$$MYSQL_USER --password=$$MYSQL_ROOT_PASSWORD
      interval: 30s
      timeout: 12s
      retries: 10  

  citygems_api:
    build: .
    container_name: node_api
    ports:
      - "3004:3000"
    environment:
      DB_HOST: citygems_db
      JWT_KEY: ${JWT_KEY}
      JWT_REFRESH_KEY: ${JWT_KEY}
      NODE_ENV: development
    depends_on:
      - citygems_db

  # test:
  #   build:
  #     context: .
  #     target: test
  #   depends_on:
  #     - citygems_db
  #   environment:
  #     DATABASE_URL: ${DATABASE_URL}
  #     DB_HOST: citygems_db
  #     JWT_KEY: ${JWT_KEY}
  #     JWT_REFRESH_KEY: ${JWT_KEY}
  #   ports:
  #     - "3005:3000"  

volumes:
  db_data:
