services:
  citygems_db:
    image: mysql:latest
    container_name: mysqldb
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    env_file: 
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
    healthcheck:
      test: mysqladmin ping -h mysql --user=$$MYSQL_USER --password=$$MYSQL_ROOT_PASSWORD
      interval: 30s
      timeout: 12s
      retries: 10  

  citygems_api:
    build: .
    container_name: node_api
    ports:
      - "3004:3000"
    env_file: 
      - .env
    environment:
      DB_HOST: citygems_db
    depends_on:
      - citygems_db
    
volumes:
  db_data:
